.contact {
  padding-top: 50px;
  padding-bottom: 0;
}

.title__description_contact {
  width: 96%;
}

.contact__info {
  margin-top: 50px;
}

.contact__info_block {
  width: 100%;
  box-shadow: none;
  padding-top: 50px;
  text-align: center;
}

.contact__address_block {
  padding-left: 0;
  order: 2;
}

.location__address {
  margin: 0 auto;
  max-width: 200px;
}

.contact__info_item {
  padding-bottom: 50px;
}
.contact__email{
  margin-bottom: 0;
}

.contact__form_block {
  padding-left: 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 50px;
}

.form__field {
  width: 96%;
}
