.title {
  font-size: 42px;
}

.introduction__description {
  width: 96%;
}

.button__container {
  padding-bottom: 18px;
}

.button_accent_callToAction {
  margin-right: 0;
  margin-bottom: 20px;
}

.slider__circle_inside {
  z-index: 1;
}

.slider__block_angleBlock {
  height: 100px;
}

.slider__decoration_circle {
  bottom: -10px;
}
