.integration {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title__description_integration {
  width: 96%;
  margin: 0 auto;
}

.integration__company_Block {
  margin-top: 20px;
  flex-flow: row wrap;
  justify-content: center;
}
