@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.button {
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -6em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: black;
    color: #fff;

    &:before {
      transform: skewX(-45deg) translateX(30em);
      transition: all 0.5s ease-in-out;
    }
  }
}

.button_accent, .pricing__button.button_accent {
  &:hover {
    background-color: #ae0c13;
    color: #fff;

    &:before {
      transform: skewX(-45deg) translateX(30em);
      transition: all 0.5s ease-in-out;
    }
  }
}

.pricing__button {
  &:hover {
    background-color: #6a6a6a;
    color: #fff;

    &:before {
      transform: skewX(-45deg) translateX(30em);
      transition: all 0.5s ease-in-out;
    }
  }
}




