@import "../variables";

footer {
  position: relative;
  width: 100%;
  min-height: 90px;
  background-color: #202020;
}

.footer__info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.socialMedia_block {
  width: 299px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

}

.socialMedia__logo {
  position: relative;
  display: block;
  cursor: pointer;
  width: 33px;
  height: 20px;

  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    width: 33px;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 0.5s ease;
  }
  &:after {
    z-index: 0;
    opacity: 0;
  }

  &:hover {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }

  &_fb {
    left: -2px;

    &:before {
      background-image: url('../img/sociallogo_fb.png');
    }
    &:after {
      background-image: url('../img/sociallogo_fb_hover.png');
    }
  }

  &_twitter {
    top: 3px;
    left: -5px;

    &:before {
      background-image: url('../img/sociallogo_twitter.png');
    }
    &:after {
      background-image: url('../img/sociallogo_twitter_hover.png');
    }
  }

  &_rss {
    left: -3px;
    top: 1px;

    &:before {
      background-image: url('../img/sociallogo_rss.png');
    }
    &:after {
      background-image: url('../img/sociallogo_rss_hover.png');
    }
  }

  &_gplus {
    left: -1px;
    top: 1px;

    &:before {
      background-image: url('../img/sociallogo_gplus.png');
    }
    &:after {
      background-image: url('../img/sociallogo_gplus_hover.png');
    }
  }

  &_linkedin {
    left: -3px;
    top: 1px;

    &:before {
      background-image: url('../img/sociallogo_in.png');
    }
    &:after {
      background-image: url('../img/sociallogo_in_hover.png');
    }
  }

  &_skype {
    top: 1px;
    left: -1px;

    &:before {
      background-image: url('../img/sociallogo_skype.png');
    }
    &:after {
      background-image: url('../img/sociallogo_skype_hover.png');
    }
  }

  &_vimeo {
    top: 2px;
    left: 1px;

    &:before {
      background-image: url('../img/sociallogo_vimeo.png');
    }
    &:after {
      background-image: url('../img/sociallogo_vimeo_hover.png');
    }
  }

  &_tumbir {
    left: 6px;
    top: 1px;

    &:before {
      background-image: url('../img/sociallogo_tumbir.png');
    }
    &:after {
      background-image: url('../img/sociallogo_tumbir_hover.png');
    }
  }

}

address {
  width: 216px;
  font-size: 14px;
  font-family: $main_text_font;
  font-weight: $bold_text;
  color: #999;
  letter-spacing: -0.015em;
}

.scroll {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: $active_text_color;
  position: fixed;
  bottom: 64px;
  right: 52px;
  cursor: pointer;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(45deg);
    top: calc((100% - 10px) / 2);
    left: calc((100% - 10px) / 2);

  }
}

.scroll_hide {
  display: none;
}

.scroll_show {
  display: block;
}
