$main-text-color: #f4f5f9;
$active_text_color: #e74c3c;
$main_text_size: 14px;
$main_text_font: 'Open Sans', sans-serif;
$additional_text_font: 'Source Sans Pro', sans-serif;
$bold_text: 700;
$main_text_semiBold: 600;
$additional_text_light: 300;
$additional_text_semiBold: 400;
$decoration_element_color: #f1ebe7;
