@import "../variables";

header {
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  margin-top: 40px;
  width: 100%;
  justify-content: center;
}
.nav__items{
  &:first-child{
    margin-left: 0;
  }
}
.introduction{
  padding-top: 40px;
}

.nav__container{
  display: none;
}
